.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectEvaluation/sysinfo.metadata.v9.bin
.vs/ProjectEvaluation/sysinfo.projects.v9.bin
.vs/ProjectEvaluation/sysinfo.strings.v9.bin
.vs/hejriClander/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/hejriClander/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/hejriClander/FileContentIndex/34a0f060-d2af-4243-b3b2-3c1b5e85bf5e.vsidx
.vs/hejriClander/FileContentIndex/50d329c8-db10-4104-8f3f-e5c13d38cc4c.vsidx
.vs/hejriClander/FileContentIndex/e73c57e2-7ea2-4991-9fb8-09b4b2ad4347.vsidx
.vs/hejriClander/FileContentIndex/fc935762-d00e-462f-9360-808623630c8e.vsidx
.vs/hejriClander/v17/.wsuo
.vs/hejriClander/v17/DocumentLayout.backup.json
.vs/hejriClander/v17/DocumentLayout.json
.vs/hejriClander/v17/workspaceFileList.bin
.vs/sysinfo/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/sysinfo/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/sysinfo/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/sysinfo/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/sysinfo/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/sysinfo/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/sysinfo/DesignTimeBuild/.dtbcache.v2
.vs/sysinfo/FileContentIndex/1a12d7b9-47a4-48bc-a0bb-66a7d748588b.vsidx
.vs/sysinfo/FileContentIndex/9c44f0f7-9d48-4867-97c1-2e283bfbdf3c.vsidx
.vs/sysinfo/FileContentIndex/77ba364d-d982-41fb-8f2b-9fa635c15a60.vsidx
.vs/sysinfo/FileContentIndex/e7a1e350-6ac8-4237-bd36-2acd52265e7e.vsidx
.vs/sysinfo/v17/.futdcache.v2
.vs/sysinfo/v17/.suo
.vs/sysinfo/v17/DocumentLayout.backup.json
.vs/sysinfo/v17/DocumentLayout.json
.vs/sysinfo/FileContentIndex/7f5bef08-dda6-4b6d-a1ec-f59da2cdaa94.vsidx
.vs/sysinfo/FileContentIndex/8db96340-e95f-4d0c-a350-57091867fefd.vsidx
.vs/